@media screen and (min-width: 950px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -111.5px;
  }
}
@media screen and (min-width: 951px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -111px;
  }
}
@media screen and (min-width: 952px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -110.5px;
  }
}
@media screen and (min-width: 953px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -110px;
  }
}
@media screen and (min-width: 954px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -109.5px;
  }
}
@media screen and (min-width: 955px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -109px;
  }
}
@media screen and (min-width: 956px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -108.5px;
  }
}
@media screen and (min-width: 957px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -108px;
  }
}
@media screen and (min-width: 958px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -107.5px;
  }
}
@media screen and (min-width: 959px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -107px;
  }
}
@media screen and (min-width: 960px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -106.5px;
  }
}
@media screen and (min-width: 961px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -106px;
  }
}
@media screen and (min-width: 962px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -105.5px;
  }
}
@media screen and (min-width: 963px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -105px;
  }
}
@media screen and (min-width: 964px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -104.5px;
  }
}
@media screen and (min-width: 965px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -104px;
  }
}
@media screen and (min-width: 966px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -103.5px;
  }
}
@media screen and (min-width: 967px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -103px;
  }
}
@media screen and (min-width: 968px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -102.5px;
  }
}
@media screen and (min-width: 969px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -102px;
  }
}
@media screen and (min-width: 970px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -101.5px;
  }
}
@media screen and (min-width: 971px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -101px;
  }
}
@media screen and (min-width: 972px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -100.5px;
  }
}
@media screen and (min-width: 973px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -100px;
  }
}
@media screen and (min-width: 974px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -99.5px;
  }
}
@media screen and (min-width: 975px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -99px;
  }
}
@media screen and (min-width: 976px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -98.5px;
  }
}
@media screen and (min-width: 977px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -98px;
  }
}
@media screen and (min-width: 978px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -97.5px;
  }
}
@media screen and (min-width: 979px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -97px;
  }
}
@media screen and (min-width: 980px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -96.5px;
  }
}
@media screen and (min-width: 981px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -96px;
  }
}
@media screen and (min-width: 982px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -95.5px;
  }
}
@media screen and (min-width: 983px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -95px;
  }
}
@media screen and (min-width: 984px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -94.5px;
  }
}
@media screen and (min-width: 985px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -94px;
  }
}
@media screen and (min-width: 986px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -93.5px;
  }
}
@media screen and (min-width: 987px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -93px;
  }
}
@media screen and (min-width: 988px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -92.5px;
  }
}
@media screen and (min-width: 989px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -92px;
  }
}
@media screen and (min-width: 990px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -91.5px;
  }
}
@media screen and (min-width: 991px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -91px;
  }
}
@media screen and (min-width: 992px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -90.5px;
  }
}
@media screen and (min-width: 993px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -90px;
  }
}
@media screen and (min-width: 994px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -89.5px;
  }
}
@media screen and (min-width: 995px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -89px;
  }
}
@media screen and (min-width: 996px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -88.5px;
  }
}
@media screen and (min-width: 997px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -88px;
  }
}
@media screen and (min-width: 998px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -87.5px;
  }
}
@media screen and (min-width: 999px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -87px;
  }
}
@media screen and (min-width: 1000px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -86.5px;
  }
}
@media screen and (min-width: 1001px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -86px;
  }
}
@media screen and (min-width: 1002px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -85.5px;
  }
}
@media screen and (min-width: 1003px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -85px;
  }
}
@media screen and (min-width: 1004px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -84.5px;
  }
}
@media screen and (min-width: 1005px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -84px;
  }
}
@media screen and (min-width: 1006px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -83.5px;
  }
}
@media screen and (min-width: 1007px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -83px;
  }
}
@media screen and (min-width: 1008px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -82.5px;
  }
}
@media screen and (min-width: 1009px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -82px;
  }
}
@media screen and (min-width: 1010px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -81.5px;
  }
}
@media screen and (min-width: 1011px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -81px;
  }
}
@media screen and (min-width: 1012px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -80.5px;
  }
}
@media screen and (min-width: 1013px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -80px;
  }
}
@media screen and (min-width: 1014px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -79.5px;
  }
}
@media screen and (min-width: 1015px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -79px;
  }
}
@media screen and (min-width: 1016px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -78.5px;
  }
}
@media screen and (min-width: 1017px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -78px;
  }
}
@media screen and (min-width: 1018px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -77.5px;
  }
}
@media screen and (min-width: 1019px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -77px;
  }
}
@media screen and (min-width: 1020px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -76.5px;
  }
}
@media screen and (min-width: 1021px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -76px;
  }
}
@media screen and (min-width: 1022px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -75.5px;
  }
}
@media screen and (min-width: 1023px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -75px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -74.5px;
  }
}
@media screen and (min-width: 1025px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -74px;
  }
}
@media screen and (min-width: 1026px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -73.5px;
  }
}
@media screen and (min-width: 1027px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -73px;
  }
}
@media screen and (min-width: 1028px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -72.5px;
  }
}
@media screen and (min-width: 1029px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -72px;
  }
}
@media screen and (min-width: 1030px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -71.5px;
  }
}
@media screen and (min-width: 1031px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -71px;
  }
}
@media screen and (min-width: 1032px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -70.5px;
  }
}
@media screen and (min-width: 1033px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -70px;
  }
}
@media screen and (min-width: 1034px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -69.5px;
  }
}
@media screen and (min-width: 1035px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -69px;
  }
}
@media screen and (min-width: 1036px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -68.5px;
  }
}
@media screen and (min-width: 1037px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -68px;
  }
}
@media screen and (min-width: 1038px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -67.5px;
  }
}
@media screen and (min-width: 1039px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -67px;
  }
}
@media screen and (min-width: 1040px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -66.5px;
  }
}
@media screen and (min-width: 1041px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -66px;
  }
}
@media screen and (min-width: 1042px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -65.5px;
  }
}
@media screen and (min-width: 1043px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -65px;
  }
}
@media screen and (min-width: 1044px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -64.5px;
  }
}
@media screen and (min-width: 1045px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -64px;
  }
}
@media screen and (min-width: 1046px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -63.5px;
  }
}
@media screen and (min-width: 1047px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -63px;
  }
}
@media screen and (min-width: 1048px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -62.5px;
  }
}
@media screen and (min-width: 1049px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -62px;
  }
}
@media screen and (min-width: 1050px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -61.5px;
  }
}
@media screen and (min-width: 1051px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -61px;
  }
}
@media screen and (min-width: 1052px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -60.5px;
  }
}
@media screen and (min-width: 1053px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -60px;
  }
}
@media screen and (min-width: 1054px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -59.5px;
  }
}
@media screen and (min-width: 1055px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -59px;
  }
}
@media screen and (min-width: 1056px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -58.5px;
  }
}
@media screen and (min-width: 1057px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -58px;
  }
}
@media screen and (min-width: 1058px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -57.5px;
  }
}
@media screen and (min-width: 1059px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -57px;
  }
}
@media screen and (min-width: 1060px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -56.5px;
  }
}
@media screen and (min-width: 1061px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -56px;
  }
}
@media screen and (min-width: 1062px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -55.5px;
  }
}
@media screen and (min-width: 1063px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -55px;
  }
}
@media screen and (min-width: 1064px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -54.5px;
  }
}
@media screen and (min-width: 1065px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -54px;
  }
}
@media screen and (min-width: 1066px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -53.5px;
  }
}
@media screen and (min-width: 1067px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -53px;
  }
}
@media screen and (min-width: 1068px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -52.5px;
  }
}
@media screen and (min-width: 1069px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -52px;
  }
}
@media screen and (min-width: 1070px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -51.5px;
  }
}
@media screen and (min-width: 1071px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -51px;
  }
}
@media screen and (min-width: 1072px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -50.5px;
  }
}
@media screen and (min-width: 1073px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -50px;
  }
}
@media screen and (min-width: 1074px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -49.5px;
  }
}
@media screen and (min-width: 1075px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -49px;
  }
}
@media screen and (min-width: 1076px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -48.5px;
  }
}
@media screen and (min-width: 1077px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -48px;
  }
}
@media screen and (min-width: 1078px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -47.5px;
  }
}
@media screen and (min-width: 1079px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -47px;
  }
}
@media screen and (min-width: 1080px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -46.5px;
  }
}
@media screen and (min-width: 1081px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -46px;
  }
}
@media screen and (min-width: 1082px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -45.5px;
  }
}
@media screen and (min-width: 1083px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -45px;
  }
}
@media screen and (min-width: 1084px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -44.5px;
  }
}
@media screen and (min-width: 1085px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -44px;
  }
}
@media screen and (min-width: 1086px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -43.5px;
  }
}
@media screen and (min-width: 1087px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -43px;
  }
}
@media screen and (min-width: 1088px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -42.5px;
  }
}
@media screen and (min-width: 1089px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -42px;
  }
}
@media screen and (min-width: 1090px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -41.5px;
  }
}
@media screen and (min-width: 1091px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -41px;
  }
}
@media screen and (min-width: 1092px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -40.5px;
  }
}
@media screen and (min-width: 1093px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -40px;
  }
}
@media screen and (min-width: 1094px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -39.5px;
  }
}
@media screen and (min-width: 1095px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -39px;
  }
}
@media screen and (min-width: 1096px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -38.5px;
  }
}
@media screen and (min-width: 1097px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -38px;
  }
}
@media screen and (min-width: 1098px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -37.5px;
  }
}
@media screen and (min-width: 1099px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -37px;
  }
}
@media screen and (min-width: 1100px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -36.5px;
  }
}
@media screen and (min-width: 1101px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -36px;
  }
}
@media screen and (min-width: 1102px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -35.5px;
  }
}
@media screen and (min-width: 1103px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -35px;
  }
}
@media screen and (min-width: 1104px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -34.5px;
  }
}
@media screen and (min-width: 1105px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -34px;
  }
}
@media screen and (min-width: 1106px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -33.5px;
  }
}
@media screen and (min-width: 1107px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -33px;
  }
}
@media screen and (min-width: 1108px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -32.5px;
  }
}
@media screen and (min-width: 1109px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -32px;
  }
}
@media screen and (min-width: 1110px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -31.5px;
  }
}
@media screen and (min-width: 1111px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -31px;
  }
}
@media screen and (min-width: 1112px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -30.5px;
  }
}
@media screen and (min-width: 1113px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -30px;
  }
}
@media screen and (min-width: 1114px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -29.5px;
  }
}
@media screen and (min-width: 1115px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -29px;
  }
}
@media screen and (min-width: 1116px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -28.5px;
  }
}
@media screen and (min-width: 1117px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -28px;
  }
}
@media screen and (min-width: 1118px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -27.5px;
  }
}
@media screen and (min-width: 1119px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -27px;
  }
}
@media screen and (min-width: 1120px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -26.5px;
  }
}
@media screen and (min-width: 1121px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -26px;
  }
}
@media screen and (min-width: 1122px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -25.5px;
  }
}
@media screen and (min-width: 1123px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -25px;
  }
}
@media screen and (min-width: 1124px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -24.5px;
  }
}
@media screen and (min-width: 1125px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -24px;
  }
}
@media screen and (min-width: 1126px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -23.5px;
  }
}
@media screen and (min-width: 1127px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -23px;
  }
}
@media screen and (min-width: 1128px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -22.5px;
  }
}
@media screen and (min-width: 1129px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -22px;
  }
}
@media screen and (min-width: 1130px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -21.5px;
  }
}
@media screen and (min-width: 1131px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -21px;
  }
}
@media screen and (min-width: 1132px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -20.5px;
  }
}
@media screen and (min-width: 1133px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -20px;
  }
}
@media screen and (min-width: 1134px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -19.5px;
  }
}
@media screen and (min-width: 1135px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -19px;
  }
}
@media screen and (min-width: 1136px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -18.5px;
  }
}
@media screen and (min-width: 1137px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -18px;
  }
}
@media screen and (min-width: 1138px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -17.5px;
  }
}
@media screen and (min-width: 1139px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -17px;
  }
}
@media screen and (min-width: 1140px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -16.5px;
  }
}
@media screen and (min-width: 1141px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -16px;
  }
}
@media screen and (min-width: 1142px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -15.5px;
  }
}
@media screen and (min-width: 1143px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -15px;
  }
}
@media screen and (min-width: 1144px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -14.5px;
  }
}
@media screen and (min-width: 1145px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -14px;
  }
}
@media screen and (min-width: 1146px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -13.5px;
  }
}
@media screen and (min-width: 1147px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -13px;
  }
}
@media screen and (min-width: 1148px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -12.5px;
  }
}
@media screen and (min-width: 1149px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -12px;
  }
}
@media screen and (min-width: 1150px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -11.5px;
  }
}
@media screen and (min-width: 1151px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -11px;
  }
}
@media screen and (min-width: 1152px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -10.5px;
  }
}
@media screen and (min-width: 1153px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -10px;
  }
}
@media screen and (min-width: 1154px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -9.5px;
  }
}
@media screen and (min-width: 1155px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -9px;
  }
}
@media screen and (min-width: 1156px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -8.5px;
  }
}
@media screen and (min-width: 1157px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -8px;
  }
}
@media screen and (min-width: 1158px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -7.5px;
  }
}
@media screen and (min-width: 1159px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -7px;
  }
}
@media screen and (min-width: 1160px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -6.5px;
  }
}
@media screen and (min-width: 1161px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -6px;
  }
}
@media screen and (min-width: 1162px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -5.5px;
  }
}
@media screen and (min-width: 1163px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -5px;
  }
}
@media screen and (min-width: 1164px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -4.5px;
  }
}
@media screen and (min-width: 1165px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -4px;
  }
}
@media screen and (min-width: 1166px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -3.5px;
  }
}
@media screen and (min-width: 1167px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -3px;
  }
}
@media screen and (min-width: 1168px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -2.5px;
  }
}
@media screen and (min-width: 1169px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -2px;
  }
}
@media screen and (min-width: 1170px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -1.5px;
  }
}
@media screen and (min-width: 1171px) {
  /* line 438, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    left: -1px;
  }
}
@media screen and (min-width: 1173px) {
  /* line 445, ../sass/dvhweb.scss */
  #global-header-wrapper .section-background {
    position: static;
    margin: 0 auto;
  }
}